
$button-padding: .8em;
$button-font-size: calc(.85em + .2vw);
$button-font-size-mobile: calc(1em + .2vw);
$arrow-size: 4px;
$arrow-color: rgb(51, 51, 51);
$arrow-contextual-color: rgb(255, 255, 255);

$btn-primary-text-color:  #fff;
$btn-secondary-text-color: #fff;
$btn-info-text-color: #fff;
$btn-success-text-color: #fff;
$btn-warning-text-color: #fff;
$btn-danger-text-color: #fff;


.btn,
a.btn,
input.btn,
label.btn,
button.btn,
.form-elements input[type=submit],
.form-elements input[type=reset] {
	display: inline-block;
	padding: $button-padding;
	border: 0;
	font-size: $button-font-size;
	color: #333;
	background-color: #ccc;
	text-decoration: none;
	transition: background-color .3s;
	text-align: center;
	margin: 3px 0 3px 0px;
	box-sizing: border-box;
	border-radius: $rounded-corners;
	line-height: normal;
	-webkit-appearance: none;
}

.btn:hover,
label.btn:hover,
a.btn:hover,
input.btn:hover,
button.btn:hover,
.form-elements input[type=submit]:hover,
.form-elements input[type=reset]:hover,
.btn.active {
	cursor: pointer;
	background-color: #eee;
	transition: background-color .1s;
}


.btn-ghost,
label.btn-ghost,
a.btn-ghost,
input.btn-ghost,
button.btn-ghost {
	display: inline-block;
	padding: $button-padding;
	font-size: $button-font-size;
	color: #333;
	border: 1px solid #666;
	background-color: transparent;
	text-decoration: none;
	transition: all .3s;
	margin: 3px 0 3px 0px;
	box-sizing: border-box;
	border-radius: $rounded-corners;
	transition: background-color .3s;
}

.btn-ghost:hover,
label.btn-ghost:hover,
a.btn-ghost:hover,
input.btn-ghost:hover,
.btn-ghost.active,
button.btn-ghost:hover {
	cursor: pointer;
	border-color: #000;
	color: #000;
	background-color: rgba(0,0,0,.1);
	transition: all .1s;
}

/* Ghost on dark BG */
.btn-ghost.inverted,
label.btn-ghost.inverted,
a.btn-ghost.inverted,
input.btn-ghost.inverted,
button.btn-ghost.inverted {
	color: #fff;
	border: 1px solid #fff;
	background-color: rgba(255,255,255,.1);
}

.btn-ghost.inverted:hover,
label.btn-ghost.inverted:hover,
a.btn-ghost.inverted:hover,
input.btn-ghost.inverted:hover,
button.btn-ghost.inverted:hover,
.btn-ghost.inverted.active {
	border-color: #fff;
	transition: background-color .3s;
	background-color: rgba(255,255,255,.5);
}

.btn.rounded-more-corners,
label.btn.rounded-more-corners,
a.btn.rounded-more-corners,
input.btn.rounded-more-corners,
button.btn.rounded-more-corners,
.form-elements input[type=submit].rounded-more-corners,
.form-elements input[type=reset].rounded-more-corners {
	border-radius: 12px;
}

.btn.rounded-corners,
label.btn.rounded-corners,
a.btn.rounded-corners,
input.btn.rounded-corners,
button.btn.rounded-corners,
.form-elements input[type=submit].rounded-corners,
.form-elements input[type=reset].rounded-corners {
	border-radius: 5px;
}


.btn.btn-xs,
a.btn.btn-xs,
label.btn.btn-xs,
button.btn.btn-xs,
.btn-ghost.btn-xs {
	padding: 4px 6px 4px 6px;
	font-size: calc(.6em + .2vw);
}

.btn.btn-sm,
a.btn.btn-sm,
label.btn.btn-sm,
button.btn-sm,
.btn-ghost.btn-sm,
.btn-ghost.btn-sm {
	padding: 8px 8px 8px 8px;
	font-size: calc(.7em + .2vw);
}

.btn.btn-lg,
a.btn.btn-lg,
label.btn.btn-lg,
button.btn.btn-lg,
.btn-ghost.btn-lg,
.btn-ghost.btn-lg {
	padding: 16px 20px 16px 20px;
	font-size: calc(1em + .2vw);
}

.btn.btn-xl,
a.btn.btn-xl,
label.btn.btn-xl,
button.btn.btn-xl,
.btn-ghost.btn-xl {
	padding: 30px 40px 30px 40px;
	font-size: calc(1.2em + .2vw);
}

.btn-nav-search {
	height: 28px;
	line-height: $button-font-size;
	font-size: $button-font-size;
}

.btn.primary,
a.btn.primary,
label.btn.primary,
input.btn.primary,
button.btn.primary,
.form-elements input[type=submit].btn.primary,
.form-elements input[type=reset].btn.primary {
	color: $btn-primary-text-color;
	background-color: $primary-color;
}

.btn.primary:hover,
a.btn.primary:hover,
label.btn.primary:hover,
input.btn.primary:hover,
button.btn.primary:hover,
.form-elements input[type=submit].btn.primary:hover,
.form-elements input[type=reset].btn.primary:hover,
.btn.primary.active {
	background-color: $primary-color-hover;
}

.btn.secondary,
a.btn.secondary,
label.btn.secondary,
input.btn.secondary,
button.btn.secondary,
.form-elements input[type=submit].btn.secondary,
.form-elements input[type=reset].btn.secondary {
	color: $btn-secondary-text-color;
	background-color:  $secondary-color;
}

.btn.secondary:hover,
a.btn.secondary:hover,
label.btn.secondary:hover,
input.btn.secondary:hover,
button.btn.secondary:hover,
.form-elements input[type=submit].btn.secondary:hover,
.form-elements input[type=reset].btn.secondary:hover,
.btn.secondary.active {
	background-color: $secondary-color-hover;

}

.btn.info,
a.btn.info,
label.btn.info,
input.btn.info,
button.btn.info,
.form-elements input[type=submit].btn.info,
.form-elements input[type=reset].btn.info {
	color: $btn-info-text-color;
	background-color: $info-color;
}

.btn.info:hover,
a.btn.info:hover,
label.btn.info:hover,
input.btn.info:hover,
button.btn.info:hover,
.form-elements input[type=submit].btn.info:hover,
.form-elements input[type=reset].btn.info:hover,
.btn.info.active {
	background-color: $info-color-hover;
}

.btn.success,
a.btn.success,
label.btn.success,
input.btn.success,
button.btn.success,
.form-elements input[type=submit].btn.success,
.form-elements input[type=reset].btn.success {
	color: $btn-success-text-color;
	background-color: $success-color;
}

.btn.success:hover,
a.btn.success:hover,
label.btn.success:hover,
input.btn.success:hover,
button.btn.success:hover,
.form-elements input[type=submit].btn.success:hover,
.form-elements input[type=reset].btn.success:hover,
.btn.success.active {
	background-color: $success-color-hover;
}

.btn.warning,
a.btn.warning,
label.btn.warning,
input.btn.warning,
button.btn.warning,
.form-elements input[type=submit].btn.warning,
.form-elements input[type=reset].btn.warning {
	color: $btn-warning-text-color;
	background-color: $warning-color;
}

.btn.warning:hover,
a.btn.warning:hover,
label.btn.warning:hover,
input.btn.warning:hover,
button.btn.warning:hover,
.form-elements input[type=submit].btn.warning:hover,
.form-elements input[type=reset].btn.warning:hover,
.btn.warning.active {
	background-color: $warning-color-hover;
}


.btn.danger,
a.btn.danger,
label.btn.danger,
input.btn.danger,
button.btn.danger,
.form-elements input[type=submit].btn.danger,
.form-elements input[type=reset].btn.danger {
	color: $btn-danger-text-color;
	background-color: $danger-color;
}

.btn.danger:hover,
a.btn.danger:hover,
label.btn.danger:hover,
input.btn.danger:hover,
button.btn.danger:hover,
.form-elements input[type=submit].btn.danger:hover,
.form-elements input[type=reset].btn.danger:hover,
.btn.danger.active {
	background-color: $danger-color-hover;
}


.btn.black,
a.btn.black,
label.btn.black,
input.btn.black,
button.btn.black,
.form-elements input[type=submit].btn.black,
.form-elements input[type=reset].btn.black {
	color: #fff;
	background-color: rgba(0,0,0,1);
}

.btn.black:hover,
a.btn.black:hover,
label.btn.black:hover,
input.btn.black:hover,
button.btn.black:hover,
.form-elements input[type=submit].btn.black:hover,
.form-elements input[type=reset].btn.black:hover,
.btn.black.active {
	background-color: rgba(0,0,0,.7);
}

.btn.white,
a.btn.white,
label.btn.white,
input.btn.white,
button.btn.white,
.form-elements input[type=submit].btn.white,
.form-elements input[type=reset].btn.white {
	color: #000;
	background-color: rgba(255,255,255,1);
	border: 1px solid #efefef;
}

.btn.white:hover,
a.btn.white:hover,
label.btn.white:hover,
input.btn.white:hover,
button.btn.white:hover,
.form-elements input[type=submit].btn.white:hover,
.form-elements input[type=reset].btn.white:hover,
.btn.white.active {
	background-color: rgba(255,255,255,.7);
}


.btn.trans,
a.btn.trans,
label.btn.trans,
input.btn.trans,
button.btn.trans,
.form-elements input[type=submit].btn.trans,
.form-elements input[type=reset].btn.trans {
	color: inherit;
	background-color: transparent;
	color: $primary-color;
	text-decoration: $link-decoration;
}

.btn.trans:hover,
a.btn.trans:hover,
label.btn.trans:hover,
input.btn.trans:hover,
button.btn.trans:hover,
.form-elements input[type=submit].btn.trans:hover,
.form-elements input[type=reset].btn.trans:hover {
	color: $primary-color-hover;
	text-decoration: none;
}


.full-width {
	width: 100%;
}


/* Button Components */

.has-drop-menu {
	position: relative;
	cursor: pointer;
}

.has-drop-menu label {
	cursor: pointer;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	cursor: pointer;
	height: 100%;
	display: block;
	padding: 0px 12px 0px 12px;
}

.drop-menu {
	display: none;
	box-sizing: border-box;
	padding: 4px;
	margin: 0;
	top: 100%;
	left: 0;
	position: absolute;
	z-index: 91;
	background-color: #fff;
	border: 1px solid #c9c9c9;
	min-width: 100%;
	line-height: 30px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}


.drop-menu.auto-scroll {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	max-height: 150px;	
}

.drop-menu.auto-scroll::-webkit-scrollbar {
	width: .8em;
}
 
.drop-menu.auto-scroll::-webkit-scrollbar-thumb {
	background: rgba(255,255,255,.5); 
}

.drop-menu.auto-scroll::-webkit-scrollbar-track {
	background:  rgba(150,150,150,.6);
}

.drop-menu.auto-scroll::-webkit-scrollbar-button {
	background:  rgba(150,150,150,.2);
	height: 10px;
}

/* Dropmenu locations on different sizes */
.btn .drop-menu {
	top: 100%;
}

.drop-menu.drop-menu-left {
	left: auto;
	right: 0px;
}

.drop-menu-top .drop-menu {
	bottom: 100%;
	top: auto;
}

.drop-menu-input {
	display: none;
}

.drop-menu-input ~ .full-screen {
	display: none;
	cursor: default;
	position: fixed;
	z-index: 90;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.drop-menu-input:checked  ~ .drop-menu {
	display: inline-block;
}


.drop-menu-input:checked  ~ .full-screen {
	display: block;
}

.drop-menu li.sep {
	height: 1px;
	background-color: #ccc;
}


/* Hover menu settings */
.hover-menu .drop-menu-input:checked ~ .menu-label {
	background-color: transparent;
}

.hover-menu .drop-menu-input:checked  ~ .full-screen {
	display: none;
}

.hover-menu .drop-menu-input:checked  ~ .drop-menu {
	display: none;
}

.hover-menu:hover .drop-menu-input:checked  ~ .drop-menu {
	display: inline-block;
}



.drop-menu-input:checked ~ i.arrow-down {
	transform: rotate(135deg);
	margin-bottom: 1px;
	transition: all .1s ease-in-out;
}

.hover-menu .drop-menu-input:checked ~ i.arrow-down {
	transform: rotate(-45deg);
	transition: all .1s ease-in-out;
}


.drop-menu-input:checked ~ i.arrow-down.no-animation,
.drop-menu-input ~ i.arrow-down.no-animation {
	transform: rotate(-45deg) !important;
	margin-bottom: 4px !important;
}

.hover-menu:hover i.arrow-down.no-animation,
.hover-menu:hover .drop-menu-input:checked i.arrow-down.no-animation{
	transform: rotate(-45deg) !important;
	margin-bottom: 4px !important;
}


.drop-menu-input:checked ~ i.arrow-down {
	transform: rotate(135deg);
	margin-bottom: 1px;
	transition: all .1s ease-in-out;
}


.hover-menu:hover .drop-menu {
	display: inline-block;
}

.drop-menu li {
	padding: 0px;
	margin: 0;
	list-style: none;
}

.drop-menu a {
	display: block;
	text-align: left;
	padding: 6px;
	white-space: nowrap;
	text-decoration: none;
	color: #333333;
}

.navbar-links > .has-drop-menu label a {
	text-decoration: none;
}

.drop-menu a:hover {
	color: #000;
	background-color: #eee;
}

/* icons */
i.arrow-down {
	display: inline-block;
	width: $arrow-size;
	height: $arrow-size;
	border-left: 1px solid $arrow-color;
	border-bottom: 1px solid $arrow-color;
	transform: rotate(-45deg);
	margin-bottom: 4px;
	margin-left: 3px;
	transition: all .1s ease-in-out;
}

.btn.btn-sm.has-drop-menu i.arrow-down,
.btn.btn-xs.has-drop-menu i.arrow-down {
	margin-bottom: 2px;
}

.btn.btn-sm.has-drop-menu:hover i.arrow-down,
.btn.btn-xs.has-drop-menu:hover i.arrow-down {
	margin-bottom: 2px;
}

i.arrow-up {
	display: inline-block;
	width: $arrow-size;
	height: $arrow-size;
	border-top: 1px solid $arrow-color;
	border-left: 1px solid $arrow-color;
	transform: rotate(45deg);
	margin-left: 3px;
	margin-bottom: 1px;
	transition: all .1s ease-in-out;
}

i.arrow-right {
	display: inline-block;
	width: $arrow-size;
	height: $arrow-size;
	border-top: 1px solid $arrow-color;
	border-left: 1px solid $arrow-color;
	transform: rotate(135deg);
	margin-left: 3px;
	margin-bottom: 2px;
	transition: all .1s ease-in-out;
}

i.arrow-left {
	display: inline-block;
	width: $arrow-size;
	height: $arrow-size;
	border-top: 1px solid $arrow-color;
	border-left: 1px solid $arrow-color;
	transform: rotate(-45deg);
	margin-right: 3px;
	margin-bottom: 2px;
	transition: all .1s ease-in-out;
}


.has-drop-menu.hover-menu:hover  i.arrow-down.no-animation {
	transform: rotate(-45deg);
}

.has-drop-menu:hover i.arrow-down {
	border-left: 1px solid $arrow-color;
	border-bottom: 1px solid $arrow-color;
}

.primary i.arrow-down,
.has-drop-menu.primary:hover i.arrow-down {
	border-left: 1px solid $btn-primary-text-color;
	border-bottom: 1px solid $btn-primary-text-color;
}

.primary i.arrow-up,
.has-drop-menu.primary:hover i.arrow-up,
.primary i.arrow-left,
.has-drop-menu.primary:hover i.arrow-left,
.primary i.arrow-right,
.has-drop-menu.primary:hover i.arrow-right {
	border-left: 1px solid $btn-primary-text-color;
	border-top: 1px solid $btn-primary-text-color;
}

.secondary i.arrow-down,
.has-drop-menu.secondary:hover i.arrow-down {
	border-left: 1px solid $btn-secondary-text-color;
	border-bottom: 1px solid $btn-secondary-text-color;
}

.secondary i.arrow-up,
.has-drop-menu.secondary:hover i.arrow-up,
.secondary i.arrow-left,
.has-drop-menu.secondary:hover i.arrow-left,
.secondary i.arrow-right,
.has-drop-menu.secondary:hover i.arrow-right {
	border-left: 1px solid $btn-secondary-text-color;
	border-top: 1px solid $btn-secondary-text-color;
}


.info i.arrow-down,
.has-drop-menu.info:hover i.arrow-down {
	border-left: 1px solid $btn-info-text-color;
	border-bottom: 1px solid $btn-info-text-color;
}


.info i.arrow-up,
.has-drop-menu.info:hover i.arrow-up,
.info i.arrow-left,
.has-drop-menu.info:hover i.arrow-left,
.info i.arrow-right,
.has-drop-menu.info:hover i.arrow-right {
	border-left: 1px solid $btn-info-text-color;
	border-top: 1px solid $btn-info-text-color;
}

.success i.arrow-down,
.has-drop-menu.success:hover i.arrow-down {
	border-left: 1px solid $btn-success-text-color;
	border-bottom: 1px solid $btn-success-text-color;
}

.success i.arrow-up,
.has-drop-menu.success:hover i.arrow-up,
.success i.arrow-left,
.has-drop-menu.success:hover i.arrow-left,
.success i.arrow-right,
.has-drop-menu.success:hover i.arrow-right {
	border-left: 1px solid $btn-success-text-color;
	border-top: 1px solid $btn-success-text-color;
}

.warning i.arrow-down i.arrow-down,
.has-drop-menu.warning:hover i.arrow-down {
	border-left: 1px solid $btn-warning-text-color;
	border-bottom: 1px solid $btn-warning-text-color;
}

.warning i.arrow-up,
.has-drop-menu.warning:hover i.arrow-up,
.warning i.arrow-left,
.has-drop-menu.warning:hover i.arrow-left,
.warning i.arrow-right,
.has-drop-menu.warning:hover i.arrow-right {
	border-left: 1px solid $btn-warning-text-color;
	border-top: 1px solid $btn-warning-text-color;
}

.danger i.arrow-down i.arrow-down,
.has-drop-menu.danger:hover i.arrow-down {
	border-left: 1px solid $btn-danger-text-color;
	border-bottom: 1px solid $btn-danger-text-color;
}

.danger i.arrow-up,
.has-drop-menu.danger:hover i.arrow-up,
.danger i.arrow-left,
.has-drop-menu.danger:hover i.arrow-left,
.danger i.arrow-right,
.has-drop-menu.danger:hover i.arrow-right {
	border-left: 1px solid $btn-danger-text-color;
	border-top: 1px solid $btn-danger-text-color;
}


.has-drop-menu.hover-menu:hover  i.arrow-down {
	transform: rotate(135deg);
	transition: all .1s ease-in-out;
}

.has-drop-menu.hover-menu:hover .drop-menu-input:checked ~ i.arrow-down {
	transform: rotate(135deg);
	transition: all .1s ease-in-out;
}


/* Drop arrow top menu */
.has-drop-menu.hover-menu.drop-menu-top i.arrow-down,
.has-drop-menu.drop-menu-top i.arrow-down,
.has-drop-menu.drop-menu-top:hover i.arrow-down {
    transform: rotate(135deg);
	margin-bottom: 1px;
}

.has-drop-menu.hover-menu.drop-menu-top:hover i.arrow-down {
    transform: rotate(-45deg);
	margin-bottom: 1px;
}

.has-drop-menu.hover-menu.drop-menu-top:hover .drop-menu-input:checked ~ i.arrow-down,
.has-drop-menu.drop-menu-top:hover .drop-menu-input:checked ~ i.arrow-down{
	transform: rotate(-45deg);
	margin-bottom: 1px;
}

.hover-menu.drop-menu-top .drop-menu-input:checked ~ i.arrow-down {
	transform: rotate(135deg);
	transition: all .1s ease-in-out;
	margin-bottom: 1px;
}

.drop-menu-top .drop-menu-input:checked ~ i.arrow-down.no-animation,
.drop-menu-top .drop-menu-input ~ i.arrow-down.no-animation {
	transform: rotate(135deg) !important;
	margin-bottom: 1px;
}

.drop-menu-top .hover-menu:hover i.arrow-down.no-animation,
.drop-menu-top .hover-menu:hover .drop-menu-input:checked i.arrow-down.no-animation{
	transform: rotate(135deg) !important;
	margin-bottom: 1px;
}

/* Top drop menu locations on different sizes */
.btn.drop-menu-top .drop-menu {
	bottom: 100%;
	top: auto;
}

.btn.drop-menu-top.btn-xl .drop-menu {
	bottom: 90px;
	top: auto;
}

.btn.drop-menu-top.btn-xl .drop-menu {
	bottom: 90px;
	top: auto;
}

.btn-xl.drop-menu-top.hover-menu i.arrow-down,
.btn-xl.drop-menu-top.hover-menu:hover i.arrow-down {
	margin-bottom:3px;
}

.btn.drop-menu-top.btn-sm .drop-menu {
	bottom: 32px;
	top: auto;
}

.btn.drop-menu-top.btn-xs .drop-menu {
	bottom: 21px;
	top: auto;
}




/* Button Groups */
.responsive-btn-group {
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    webkit-overflow-scrolling: touch;
}

.responsive-btn-group .btn-group { 
	display: table;
	border-collapse: separate;
	border-spacing: 1px;
}

.responsive-btn-group .btn-group:after { 
	display:none; 
}

.btn-group { 
	display: block;
}

.btn-group:after { 
	content:"."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
}

.btn-group a.btn,
.btn-group .btn {
	display: inline-block;
	float: left;
	white-space: nowrap;
	margin-right: 1px;
	border-radius: 0;
}

.btn-group.rounded-sides .btn:first-child,
.btn-group.rounded-sides a.btn:first-child{ 
	border-radius:  $rounded-corners 0 0 $rounded-corners;
}

.btn-group.rounded-sides .btn:last-child,
.btn-group.rounded-sides a.btn:last-child { 
	border-radius:  0 $rounded-corners $rounded-corners 0;
}

.responsive-btn-group {
	-webkit-overflow-scrolling: touch;
}

.responsive-btn-group .btn-group a.btn,
.responsive-btn-group .btn-group .btn {
	display: table-cell;
	margin-right: 0;
	float:none;
}


/* Glowing Buttons */

.glow {
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.primary.glow {
	animation-name: primaryGlow;
}

.secondary.glow {
	animation-name: secondaryGlow;
}

.info.glow {
	animation-name: infoGlow;
}

.success.glow {
	animation-name: successGlow;
}

.warning.glow {
	animation-name: warningGlow;
}

.danger.glow {
	animation-name: dangerGlow;
}

@keyframes primaryGlow {  
	0% { background-color: $primary-color; }
    50% { background-color: $primary-color-light; }
    100% { background-color: $primary-color; }
}

@keyframes secondaryGlow {  
	0% { background-color: $secondary-color; }
    50% { background-color: $secondary-color-light; }
    100% { background-color: $secondary-color; }
}

@keyframes infoGlow {  
	0% { background-color: $info-color; }
    50% { background-color: $info-color-light; }
    100% { background-color: $info-color; }
}

@keyframes successGlow {  
	0% { background-color: $success-color; }
    50% { background-color: $success-color-light; }
    100% { background-color: $success-color; }
}

@keyframes warningGlow {  
	0% { background-color: $warning-color; }
    50% { background-color: $warning-color-light; }
    100% { background-color: $warning-color; }
}

@keyframes dangerGlow {  
	0% { background-color: $danger-color; }
    50% { background-color: $danger-color-light; }
    100% { background-color: $danger-color; }
}




@media all and (max-width: 1024px) {
	
	.has-drop-menu:hover  i.arrow-down {
		transform: rotate(-45deg);
		transition: all .1s ease-in-out;
	}
	
	.has-drop-menu.drop-menu-top:hover  i.arrow-down {
		transform: rotate(135deg);
	}
	
	.drop-menu {
		margin: 0 0 0 0;
	}
	
	.drop-menu.auto-scroll {
		max-height: 200px;
		overflow-y: auto;
	}
	
	.drop-menu li {
		padding-left: 20px;
		box-sizing: border-box;
	}
	
	.btn .drop-menu li {
		padding-left: 0px;
	}
	
	.navbar nav div.has-drop-menu a {
		height: 40px;
		min-height: 40px;
		line-height: 30px;
		box-sizing: border-box;
	}
	
	/* Hover menu settings */
	.hover-menu .drop-menu-input:checked ~ .menu-label {
		background-color: transparent;
	}

	.hover-menu .drop-menu-input:checked  ~ .full-screen {
		display: inline-block;
	}
	
	.btn.hover-menu .drop-menu-input:checked  ~ .full-screen {
		display: block;
		position: fixed;
		height: 100%;
	}

	.hover-menu .drop-menu-input:checked  ~ .drop-menu {
		display: inline-block;
	}
	
	.hover-menu:hover .drop-menu-input ~ .drop-menu {
		display: none;
	}
	
	.hover-menu .drop-menu-input ~ .drop-menu {
		display: none;
	}

	.hover-menu:hover .drop-menu-input:checked  ~ .drop-menu {
		display: inline-block;
	}

	.has-drop-menu.hover-menu:hover i.arrow-down {
		transform: rotate(-45deg);
	}
	
	.drop-menu-input:checked ~ .menu-label {
		background-color: transparent;
	}
	
	.has-drop-menu.hover-menu.drop-menu-top:hover  i.arrow-down,
	.has-drop-menu.drop-menu-top:hover  i.arrow-down {
		transform: rotate(135deg);
	}
	
	.has-drop-menu.hover-menu.drop-menu-top:hover .drop-menu-input:checked ~ i.arrow-down,
	.has-drop-menu.drop-menu-top:hover .drop-menu-input:checked ~ i.arrow-down{
		transform: rotate(-45deg);
	}
	
	.has-drop-menu:hover .drop-menu-input:checked ~ i.arrow-down {
		transform: rotate(135deg);
	}
	
	.has-drop-menu.hover-menu i.arrow-down {
		margin-bottom: 2px;
	}
	
	.btn,
	a.btn,
	input.btn,
	label.btn,
	button.btn,
	.form-elements input[type=submit],
	.form-elements input[type=reset] {
		font-size: $button-font-size-mobile;
	}

	
}



