html, body, div, span, object, iframe, h1, h2, h3, img, fieldset, form, label, legend,
video { margin:0; padding:0; border:0; outline:0; vertical-align:baseline; background:transparent; }                  
html { overflow-y:scroll; }
input[type="hidden"] { display:none; }
input, select { vertical-align:middle; }
button {  width:auto; overflow:visible; }
table { border:0; padding:0; border-spacing:0; }




