
.breadcrumbs {
	margin: 10px 0px 20px 0px;
	color: rgba(100,100,100, .9);
}

.breadcrumbs span {
	color: rgba(100,100,100, .5);
}

.breadcrumbs a {
	text-decoration: none;
}

.breadcrumbs a:hover {
	text-decoration: underline;
}


